.photo-grid {
  margin: 0 auto;
  margin-top: 92px;
  max-width: calc(100% - 48px - 48px);

  display: grid;

  /* grid-template-columns: repeat(auto-fit, minmax(284px, 1fr)); */
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc((100% / 4) - (16px * 3)), 1fr)
  );
  gap: 16px;
  text-align: center;
}

@media (max-width: 1024px) {
  .photo-grid {
    gap: 14px;
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc((100% / 3) - (14px * 2)), 1fr)
    );
  }
}
@media (max-width: 768px) {
  .photo-grid {
    margin-top: 88px;
    max-width: calc(100% - 24px - 24px);

    grid-template-columns: repeat(
      auto-fit,
      minmax(calc((100% / 2) - 16px), 1fr)
    );
    gap: 16px;
  }
}

@media (max-width: 468px) {
  .photo-grid {
    margin-top: 64px;
    max-width: calc(100% - 16px - 16px);

    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 12px;
  }
}
