.place__img {
  max-width: 460px;
  max-height: 460px;
  width: 100%;
  grid-area: img;
}

@media (max-width: 1024px) {
  .place__img {
    max-width: 440px;
    max-height: 440px;
  }
}
@media (max-width: 768px) {
  .place__img {
    max-width: 340px;
    max-height: 340px;
  }
}

@media (max-width: 690px) {
  .place__img {
    max-width: 320px;
    max-height: 320px;
  }
}
