.lead__subtitle {
  font-size: 30px;
  line-height: 1.2;
  font-style: normal;
  font-weight: 400;

  text-align: center;
  margin: 0 auto;
  padding: 0;
  /* padding: 0 172px; */
  max-width: 640px;
  margin-bottom: 64px;

  /* padding-top: 46px; */
}

@media (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media (max-width: 320px) {
  .lead__subtitle {
    /* margin: 49px auto 31px; */
    /* margin-bottom: 66px; */

    margin-bottom: 40px;

    font-size: 16px;
    line-height: 1.25;
  }
}
