.place__link {
  font-size: 18px;
  line-height: 1.22;
  font-style: normal;
  font-weight: 400;
  text-align: left;

  padding: 0;
  margin: 0;
  max-width: 456px;

  text-decoration: underline;
  color: white;

  display: block;
}

@media (max-width: 768px) {
  .place__link {
    max-width: 352px;
  }
}

@media (max-width: 320px) {
  .place__link {
    max-width: 288px;
  }
}
