.cover__title {
  font-size: 72px;
  line-height: 1.06;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  max-width: 560px;
  margin: 0 auto;

  position: relative;
}

@media (max-width: 680px) {
  .cover__title {
    font-size: 52px;
  }
}
@media (max-width: 480px) {
  .cover__title {
    font-size: 36px;
    /* margin-bottom: 24px; */
  }
}
@media (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    /* margin-bottom: 16px; */
  }
}
