.header__lang-link_mode_selected {
  /* text-decoration: underline; */
  border-bottom: 1px #fff solid;
  margin-right: 18px;
  text-align: right;
}
@media (max-width: 320px) {
  .header__lang-link_mode_selected {
    margin-right: 19px;
  }
}
